body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator-body {
    /* Body properties */
    border: 3px solid rgb(26, 24, 24);
    border-radius: 20px;
    max-width: 30vw;
    max-height: 50vw;
    margin: 5vw;

    /* Content inside calculator */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#screen {
    margin: 5%;
    width: 90%;
    height: 5vw;
    border: 1px solid gray;
    background-color: rgb(188, 248, 248);
    text-align: right;
    font-size: 5vw;
    font-family: 'calculator';
}

#buttons {
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.button {
    width: 5.5vw;
    height: 5.5vw;
    margin-bottom: 5%;
    font-size: 2vh;
    border-radius: 10px;;
}

#clear {
    width: 19.8vw;
    aspect-ratio: 4 / 1;
}

#zero {
    width: 12.7vw;
}

.number {
    background-color: rgb(20, 21, 36);
    color: whitesmoke;
}

.operator #result{
    background-color: rgb(231, 227, 227);
}